---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="INFJ-A"
	pubDate={new Date('October 24 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Preparing...
	</p>

</Layout>
